.App {
  display: flex;
  flex-direction: column;
  color: rgb(94, 32, 151);
  text-align: center;
  /* Remove background-color here */
}

/* Add this */
.main-Content {
  background-color: white;
  padding: 0px;
  min-height: 100vh;
}
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
}
